$primary-color: #406079;

body {
	background-color: $primary-color;
	overflow-y: scroll;
	h1 {
		text-align: center;
		color: #ffffff;
		font-family: Georgia;
	    font-size: 50px;
	    cursor: pointer;
	}
	.searchLink { 
		color: #ffffff;
		cursor: pointer;
		text-align: right;
		h3 {
			display: inline-block;
			font-size: 20px;
			font-family: Georgia;
			margin-right: 10px;
		}
		i {
			font-size: 20px;
			display: inline-block;
		}
	}
}


.toplevel {
	margin-top: 40px;
	a {				
		cursor: pointer;
		&:hover {
			text-decoration: none;
			h3 {
				color: #fdf00e;
			}
		}
	}	
	.toplevelimage {
		display: block;
		img {
			width: 175px;
			height: 150px;
			margin: 0 auto;
		}
	}
	.toplevelcat {
		margin-bottom: 30px;
		text-align: center;
		h3 {
			margin-top: 15px;
			font-size: 18px;
			color: #ffffff;
		}
	}
}

.secondlevel {
	ul {
		padding: 0;
		list-style: none;
		li {
			a {
				cursor: pointer;
			}
		}
	}
	img {
		width: 175px;
		height: 150px;
	}	
	a {
		color: #ffffff;
		text-shadow: 1px 1px 2px rgba(64, 96, 121, 0.25);		
	}
	.content {
		a {
			font-size: 14px;
			text-decoration: underline;
		}
		h3 {
			color: #b6f4f7;
			font-size: 20px;
			font-family: Georgia;
		}
		p {
			color: #ffffff;	
		}
			
	}
	.gobackdiv {
		text-align: right;
	}
	h2 {
		color: #b6f4f7;
		font-size: 25px;
		font-family: Georgia;
	}
	.tutoriallinks {
		a {
			font-size: 16px;
			&.active,
			&:hover {
				color: #fdf00e;
			}
		}
		i {
		margin-right: 10px;
		}
	}
	.listoftut {
		margin-bottom: 20px;
	}	
	.catname {
		font-size: 30px;
	}
}