<div class="row">
	<div class="col-sm-12">
		<h1 (click)="goToHome();">Upp Wiki App</h1>		
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<h3>{{errorMessage}}</h3>
	</div>
</div>