<div class="row">
	<div class="col-sm-12">
		<h1 (click)="goToHome();">Upp Wiki App</h1>		
	</div>
</div>
<div class="secondlevel">
	<div class="row">
		<div class="col-sm-12">			
			<form id="filter">
				<label><h2>Search: </h2></label>
				<input type="text" [(ngModel)]="term" [ngModelOptions]="{standalone: true}"/>
			</form>
		</div>
	</div>
</div>
<div class="secondlevel">
	<div class="row">
		<div class="col-sm-4">
			<div class="selected-category">
				<h2 class="listoftut">List of Tutorials</h2>
			</div>	
			<ul class="tutoriallinks">
				<li *ngFor="let task of tasks | filter:term; let i = index; ">
					<a (click)="getSingleTask(task); activeCheck='check' + i" [class.active]="activeCheck=='check' + i">
						<i class="fa fa-book" aria-hidden="true"></i><span [innerHTML]="'(' + task.field_category + ')'"></span>
				    	<span [innerHTML]="task.title"></span>
			    	</a>
			    </li>
			</ul>
		</div>
		<div class="col-sm-8">
			<span *ngFor="let singleTask of singleTasks">
				<h2 *ngIf="singleTasks && singleTasks.length > 0"><span [innerHTML]="singleTask.title"></span> </h2>				
				<div class="content">
					<span [innerHTML]="singleTask.body"></span>
					<span [innerHTML]="singleTask.field_content"></span>
					
					<div class="url" *ngIf="singleTask.field_youtube_url">
						<h3>Related Video</h3>
						<iframe [ngModel]="getYoutube(singleTask)" width="560" height="315" [src]="youtubeUrl" frameborder="0" allowfullscreen ngDefaultControl></iframe>
					</div>
				</div>
			</span>
		</div>
	</div>
</div>