<div class="row">
	<div class="col-sm-12">
		<h1 (click)="topLevelGoBack();">Upp Wiki App</h1>		
	</div>
</div>
<div class="toplevel">
	<div class="row">
		<div class="col-sm-12">
			<div class="row">
			    <div class="col-sm-4"  *ngFor="let topLevelCategory of topLevelCategories">
			    	<a (click)="getTutorialsFromSelected(topLevelCategory)">
			    		<div class="toplevelcat">
					    	<span class="toplevelimage" [innerHTML]="topLevelCategory.field_image"></span>
					        <h3>{{topLevelCategory.name}}</h3>
					    </div>
			        </a>
			    </div>
			</div>
		</div>
	</div>
</div>

<div class="secondlevel" *ngIf="selectedCategories && selectedCategories.length > 0">
	<div class="row">
		<div class="col-sm-12">
			<div class="gobackdiv">
				<a class="btn btn-primary" (click)="topLevelGoBack();">Go Back <i class="fa fa-level-up" aria-hidden="true"></i></a>	
			</div>					
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<h2 class="catname">{{selectedTopLevelCategory.name | uppercase }}</h2> 
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4">

				<div class="selected-category">
					<h2 class="listoftut">List of Tutorials</h2>
				</div>		

				<ul class="tutoriallinks">
				    <li *ngFor="let selectedCategory of selectedCategories; let i = index;">
				        <a (click)="getSingleTask(selectedCategory); activeCheck='check' + i" [class.active]="activeCheck=='check' + i"><i class="fa fa-book" aria-hidden="true"></i><span [innerHTML]="selectedCategory.title"></span>
				        </a>
				    </li>
				</ul>



			
		</div>

	<div class="col-sm-8">

		<span *ngFor="let singleTask of singleTasks">
			<h2 *ngIf="singleTasks && singleTasks.length > 0"><span [innerHTML]="singleTask.title"></span> </h2>		
				
			
			   	
			   	<div class="content">
			   		<span [innerHTML]="singleTask.body"></span> 
			    	<span [innerHTML]="singleTask.field_content"></span>
			    
			    	<div class="url" *ngIf="singleTask.field_youtube_url">
			    		<h3>Related Video</h3>
						<iframe [ngModel]="getYoutube(singleTask)" width="560" height="315" [src]="youtubeUrl" frameborder="0" allowfullscreen ngDefaultControl></iframe>
					</div>
			   	</div>		

			</span>

		</div>
	</div>
</div>






