<div class="row">
	<div class="col-sm-12">
		<div class="searchLink">
			<h3 (click)="goToSearch();">Search</h3> <i (click)="goToSearch();" class="fa fa-search" aria-hidden="true"></i>
		</div>
	</div>
</div>



<router-outlet></router-outlet>